body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,button,textarea,p,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
img{border:none}
em,strong{font-style:normal}
li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%}
body{background:#fff url(img.ashx?fileurl=images/loginbg.jpg) top left no-repeat;color:#000;font-size:12px}
a:hover{color:#f60;text-decoration:underline}
.wrap,.wraper{width:950px;padding-top:60px;margin:0 auto}
.blank30{height:40px;clear:both}
.blank20{height:20px;clear:both}
.blank10{height:10px;clear:both}
.wraper{padding-top:20px}
.conBox{width:740px;padding-bottom:118px;margin:0 auto}
.wraper .conBox{padding-bottom:18px}
.leftBox{width:460px;float:left;line-height:180%}
.rightBox,.getReg p input,.login p.input input{background:#F8FAFA url(img.ashx?fileurl=images/login_bg.gif) 0 0 no-repeat}
.rightBox{width:268px;padding-top:15px;background-position:0 -50px;border:1px solid #B2B2B2;float:right}
.login,.getReg{width:86%;padding-bottom:30px;margin:0 auto}
.login p{padding-bottom:8px}
.login p.help{text-indent:28px}
.login p.help a{color:#265D82}
.login p.input input{width:90px;height:26px;background-position:-150px -4px;margin-top:10px;cursor:pointer;border:none}
.wraper .logo p{margin-left:10px;display:inline}
input.i{width:180px;height:20px;margin-right:5px;border:1px solid #838383;padding:4px;font-size:14px;line-height:18px;font-weight:bold;ime-mode:disabled;background-position:-396px -252px}
.list,.list1{padding-bottom:20px}
.list li strong{color:#B87601}
.getReg{border-top:1px solid #D7D7D7}
h1{line-height:300%;font-size:16px}
h2{font-size:120%}
.getReg p input{width:143px;height:32px;line-height:32px;background-position:-1px -2px;border:none;cursor:pointer}
.regBox{width:100%;border:1px solid #B2B2B2;position:relative;background:#fff}
.regBox b{width:10px;height:10px;background:url(img.ashx?fileurl=images/reg_bg.gif) 0 0 no-repeat;position:absolute;overflow:hidden}
.regBox b.tl{background-position:0 0;top:-1px;left:-1px}
.regBox b.tr{background-position:0 -10px;top:-1px;right:-1px}
.regBox b.bl{background-position:0 -20px;bottom:-1px;_bottom:-2px;left:-1px}
.regBox b.br{background-position:0 -30px;bottom:-1px;_bottom:-2px;right:-1px}
.regBox span{color:red;font-weight:700}
.conBox:after,div.logo:after,.regBox:after{content:"";clear:both;display:block;visibility:hidden}
.foot{width:100%;border-top:1px solid #D8D8D8;background:#f8f8f8;padding-top:6px;font-family:Arial;color:#999;line-height:30px;text-align:center}
.foot p{line-height:24px;text-align:center;font-family:ו;color:#999;font-size:13px}
.foot p a{text-decoration:none;font-family:ו;color:#999;font-size:13px}
.foot p a:hover{color:#f60;text-decoration:underline}
.righttitle{padding:0 0 15px 18px}
.login p.input,.getReg p{text-align:center}